In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

pok = pd.read_csv("./course-files/pokemon.csv",usecols=['Name']).squeeze('columns')

In [2]:
pok[73]

'Machoke'

In [3]:
#pok[64,73]

In [4]:
pok[[64,73]]

64    Arcanine
73     Machoke
Name: Name, dtype: object

In [5]:
pok[2:7]

2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
5               Charmeleon
6                Charizard
Name: Name, dtype: object

In [6]:
pok[795:]

795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, dtype: object

In [7]:
pok[:4]

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
Name: Name, dtype: object

In [8]:
pok[-2:]

798    HoopaHoopa Unbound
799             Volcanion
Name: Name, dtype: object

In [9]:
index = ['a','b','c','d','e','e']
values = ['Austria','Belgium','Canada','Denmark','England','Estonia']
s = pd.Series(values,index)
s

a    Austria
b    Belgium
c     Canada
d    Denmark
e    England
e    Estonia
dtype: object

## operator []

getting value by position

In [11]:
s[1]

'Belgium'

getting value by index

In [12]:
s['b']

'Belgium'

getting multiple values

In [13]:
s['e']

e    England
e    Estonia
dtype: object

getting non existing value

In [16]:
# s['f'] error

## method get()

getting value by position

In [17]:
s.get(1)

'Belgium'

getting value by index

In [18]:
s.get('b')

'Belgium'

getting multiple values

In [19]:
s.get('e')

e    England
e    Estonia
dtype: object

getting non existing value

In [20]:
s.get('f')

## at[]

getting value by position

In [23]:
#error s.at[1]

getting value by index

In [24]:
s.at['b']

'Belgium'

getting multiple values

In [25]:
s.at['e']

e    England
e    Estonia
dtype: object

getting non existing value

In [27]:
#error s.at['f']

## iat[]

getting value by position

In [28]:
s.iat[1]

'Belgium'

getting value by index

In [31]:
#error s.iat['b']

getting multiple values

In [33]:
#error s.iat[[0,1]]

getting non existing value

In [35]:
#error s[99]